.appland_info { 
    background-color: #1f1f2a;
    .aplien_item {
        margin: 60px 0;
        .h_info {
            color: #fff;
            font-size: 20px;
            margin-bottom: 42px;
        }
        .h_logo {
            margin-bottom: 35px;
        }
        .p_aplin {
            color: #aeaeb8;
            margin-bottom: 10px;
            max-width: 287px;
            font-size: 16px;
        }
        .icon_items {
            display: block;
            padding-bottom: 22px;
            .iconss {
                display: flex;
                i {
                    color: #b7aeae;
                    font-size: 22px;
                    margin-right: 20px;
                }
                .icon_pra {
                    color: #aeaeb8;
                    margin: 0;
                    a {
                        color:#ddd;
                        text-decoration: none;
                        &:hover {
                            color: #fff;
                        }
                    }
                    }
                .icon_p {
                    color:#ddd;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
                .ct_call {
                    margin: 0 -15px 15px 0;
                    .img_aplin {
                        overflow: hidden;
                    }
                }
            }
            .sdicon {
                margin: 10px 15px;
                color: #ddd;
                transition: all 0.5s;
                overflow: hidden;
                &:hover {
                    color: #fff;
                    transform: scale(1.2);

                }
                &:first-child {
                    margin-left: 0;
                }
            }
            
        }
        .icon_pra {
            margin: 10px 0 0px 5px;
            color: #a58c8c;
            .ins_tgrm {
                color: #fff;
            }
        }
    }
}

