footer {
    background: #21212e;
    padding: 30px 0;
    border-top: 1px solid #dddddd1a;
    .t_pra {
        color: #fff;
        .fot_drort {
            color: #fff;
        }
        .fot_drort2 {
            margin: 0 10px;

        }
    }  
    .main_list {
        list-style: none;
        .list_item {
            display: inline-block;
            padding-right: 35px;
            color : #7b7b8d;
            .list {
                color: #ddd;
                text-decoration: none;
                text-decoration: none;
                text-transform: capitalize;
                &:hover {
                    color: #fff;
                }
            } 
        }
        :last-child {
            padding-right: 0;
        }
        
    }
   
}

