.modal {
    .modal-dialog {
        .modal-content {
            margin-top: 80px;
            .modal-body {
                .img_aplin {
                    width: 100%;
                }
                .pra_modal {
                    margin-top: 10px;
                    text-align: justify;
                }
            }
        }
    }
}