.disover_worp {
    .castom_cont {
        padding-left: 0;
        padding-right: -15px;
        .video_item {
            position: relative;
            .disover_imgb {
                height: 700px;
            }
            .d_video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .disover_aop {    
            padding: 125px 88px 125px 100px;
            margin: 130px 0 0px -225px;
            background: #fff;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: 1px 5px 20px 2px #b5b5b5;
            .disover_hed {
                padding: 0 0 20px 0;
                font-size: 36px;
                font-weight: 600;
                font-family:'Quicksand', sans-serif;
            }
            .disovr_pra {
                margin-bottom: 45px;
                font-size: 18px;
                color: #797988;
                font-family:'Quicksand', sans-serif;
            }
            .diover_link {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                font-family:'Quicksand', sans-serif;
                font-weight: 600;
                position       : relative;
                border-bottom  : 1px solid transparent;
                text-decoration: none;
                padding        : 0px 0px 5px 0px;
                color          : #736ef8;
                transition     : all 0.5s;
                &::before {
                    position  : absolute;
                    content   : "";
                    bottom    : 0;
                    right     : 0;
                    width     : 0%;
                    height    : 2px;
                    background: #736ef8;
                    opacity   : 0;
                    transition: all 0.5s;
                }
                &.active,
                &:hover {
                    color: #736ef8;
                    &::before {
                        width  : 100%;
                        right  : auto;
                        left: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}