.team_WORP {
    .team_hed {
        margin: 115px 0 10px 0;
        font-size: 36px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;

    }
    .team_pra {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        color: #9d9da8;
    }
}
