.appland_info {
  background-color: #1f1f2a; }
  .appland_info .aplien_item {
    padding: 60px 0 60px 0; }
    .appland_info .aplien_item .h_info {
      color: #fff;
      font-size: 20px;
      font-family: "Quicksand";
      margin-bottom: 42px; }
    .appland_info .aplien_item .h_logo {
      margin-bottom: 35px; }
    .appland_info .aplien_item .p_aplin {
      color: #aeaeb8;
      margin-bottom: 20px;
      font-family: "Quicksand";
      max-width: 287px;
      font-size: 16px; }
    .appland_info .aplien_item .icon_items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 22px;
      margin-left: -5px; }
      .appland_info .aplien_item .icon_items i {
        color: #b7aeae;
        padding-right: 10px; }
      .appland_info .aplien_item .icon_items .sdds {
        padding-right: 10px;
        color: #ddd;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .appland_info .aplien_item .icon_items .sdds:hover {
          color: #fff; }
        .appland_info .aplien_item .icon_items .sdds:hover {
          color: #fff;
          -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4); }
      .appland_info .aplien_item .icon_items .icon_info .ttr {
        color: #637eec; }
        .appland_info .aplien_item .icon_items .icon_info .ttr:hover {
          color: #fff; }
      .appland_info .aplien_item .icon_items .icon_pra {
        color: #aeaeb8;
        margin: 0; }
        .appland_info .aplien_item .icon_items .icon_pra a {
          color: #fff;
          text-decoration: none; }
          .appland_info .aplien_item .icon_items .icon_pra a:hover {
            color: #ddd; }
      .appland_info .aplien_item .icon_items .icon_p {
        color: #fff;
        text-decoration: none; }
        .appland_info .aplien_item .icon_items .icon_p:hover {
          color: #ddd; }
      .appland_info .aplien_item .icon_items .ctm_cl {
        margin-right: -20px !important; }
        .appland_info .aplien_item .icon_items .ctm_cl .img_aplin {
          margin-bottom: 2px; }
          .appland_info .aplien_item .icon_items .ctm_cl .img_aplin .img_aplinss {
            max-width: 83px;
            height: 83px;
            margin: 5px;
            width: 100%; }
    .appland_info .aplien_item .icon_pra {
      margin: 10px 0 0px 5px;
      color: #a58c8c; }
      .appland_info .aplien_item .icon_pra .ins_tgrm {
        color: #fff; }
