.clopas_worp {
  background: #5b07ca;
  padding: 40px 0; }
  .clopas_worp .text_banner .h_text {
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif; }
  .clopas_worp .text_banner .pra_fast {
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto', sans-serif; }
  .clopas_worp .text_banner .pra_secknd {
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto', sans-serif; }
  .clopas_worp .text_banner button {
    background-image: -webkit-gradient(linear, right top, left top, from(#00b7af), to(#618e37));
    background-image: -webkit-linear-gradient(right, #00b7af, #618e37);
    background-image: -o-linear-gradient(right, #00b7af, #618e37);
    background-image: linear-gradient(-90deg, #00b7af, #618e37);
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .clopas_worp .text_banner button:hover {
      background-image: -webkit-gradient(linear, right top, left top, from(#618e37), to(#00b7af));
      background-image: -webkit-linear-gradient(right, #618e37, #00b7af);
      background-image: -o-linear-gradient(right, #618e37, #00b7af);
      background-image: linear-gradient(-90deg, #618e37, #00b7af); }
  .clopas_worp .colops_itme {
    margin: 20px 0; }
    .clopas_worp .colops_itme .col_aps .card {
      margin-bottom: 10px; }
      .clopas_worp .colops_itme .col_aps .card .cars_main {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
        .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv {
          padding-left: 0;
          cursor: pointer;
          text-transform: capitalize;
          font-family: 'Roboto', sans-serif; }
          .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv .btn-link {
            color: #000;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            font-family: 'Roboto', sans-serif; }
          .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv .minus {
            display: none; }
          .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv .plus {
            display: block; }
          .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv[aria-expanded="true"] .minus {
            display: block; }
          .clopas_worp .colops_itme .col_aps .card .cars_main .hed_fiv[aria-expanded="true"] .plus {
            display: none; }
      .clopas_worp .colops_itme .col_aps .card .clo_ps .card-body {
        margin: 0 0px 0 5px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif; }
    .clopas_worp .colops_itme a {
      text-decoration: none; }
      .clopas_worp .colops_itme a .pra_clops {
        color: #fff;
        font-size: 14px;
        font-family: 'Roboto', sans-serif; }
        .clopas_worp .colops_itme a .pra_clops .c_p_span {
          color: #fbff00; }
