.img_inner {
  margin: 0px 0 60px 0; }
  .img_inner .custom_col {
    position: relative;
    margin-top: 30px;
    overflow: hidden; }
    .img_inner .custom_col .img {
      width: 100%;
      height: 300px; }
    .img_inner .custom_col .hover_con {
      padding: 0;
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      visibility: hidden; }
      .img_inner .custom_col .hover_con .hover_inner {
        width: 100%; }
        .img_inner .custom_col .hover_con .hover_inner .textcentr {
          color: #fff;
          margin: 90px 0; }
          .img_inner .custom_col .hover_con .hover_inner .textcentr .devlop_icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 53px;
            background: rgba(92, 157, 222, 0.5);
            border-radius: 50%;
            color: #fff;
            margin-left: 5px; }
            .img_inner .custom_col .hover_con .hover_inner .textcentr .devlop_icon:hover {
              font-size: 20px;
              color: #fafafa; }
        .img_inner .custom_col .hover_con .hover_inner .hed_tex {
          padding-left: 10px;
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          text-transform: uppercase; }
    .img_inner .custom_col::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, right top, left top, from(#44a1abfa), to(#005aff));
      background-image: -webkit-linear-gradient(right, #44a1abfa, #005aff);
      background-image: -o-linear-gradient(right, #44a1abfa, #005aff);
      background-image: linear-gradient(-90deg, #44a1abfa, #005aff);
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      top: 0;
      left: 0; }
    .img_inner .custom_col:hover::before {
      opacity: 0.7; }
    .img_inner .custom_col:hover .hover_con {
      opacity: 1;
      top: 0;
      visibility: visible; }
