.modal .modal-dialog .modal-content {
  margin-top: 80px; }
  .modal .modal-dialog .modal-content .modal-body .img_aplin {
    width: 100%; }
  .modal .modal-dialog .modal-content .modal-body .modal_pra {
    margin-top: 10px;
    text-align: justify; }
